.pointer {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: pointing 1s ease-in-out 10 alternate;
    transition: ease-in-out;
    transform: rotate(180deg);
}

@keyframes pointing {
    from {
        transform: translateY(0px) rotate(180deg);
    }

    to {
        transform: translateY(20px) rotate(180deg);
    }
}