.collapsing {
    transition: height 0.4s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.collapse.show {
    animation: slideDown 0.4s ease-out;
    opacity: 1;
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
