.gallery-card:hover {
  transform: translateY(-5px); /* Приподнимается */
}

.gallery-card:hover div {
  opacity: 1 !important; /* Показывает текст на черном фоне */
}

.gallery-card img {
  transition: transform 0.5s ease;
}

.gallery-card:hover img {
  transform: scale(1.1); /* Картинка внутри плавно увеличивается */
}

/* Эффект при наведении на карточку */
div[style*="cursor: pointer"]:hover img {
  transform: scale(1.05);
}
div[style*="cursor: pointer"]:hover div {
  opacity: 1 !important;
}

