/* position-absolute 
top-0 start-0 w-100 h-100 
d-flex align-items-center justify-content-center 
bg-dark bg-opacity-50 opacity-0 
hover-opacity-100 transition-opacity */

.hoverImg {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.250);
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
} 

.hoverImg:hover {
    transition: 500ms;
    opacity: 1;
} 
