html {
  overflow-y: scroll; 
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
}

:root {
  --color-red-600: oklch(57.7% 0.245 27.325);
  --color-red-700: oklch(50.5% 0.213 27.518);
}

/* Плавное изменение высоты */
.collapsing {
  transition: height 0.4s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.collapse.show {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

::-webkit-scrollbar {
    width: 10px; 
    height: 10px; 
}
::-webkit-scrollbar-track {
    background: #1a1a1a; 
}
::-webkit-scrollbar-thumb {
    background: var(--color-red-600); 
    border-radius: 5px;  
    border: 2px solid #1a1a1a; 
}
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-red-600) #1a1a1a;
}
